html,
body {
  height: 100%;
}

a {
  color: lightskyblue;
  font-weight: bold;
}

.recipe {
  width: 750px;
  height: auto;
  border: 10px solid;
  border-color: mediumslateblue;
}

.homepage {
  width: 400px;
  height: auto;
}

.container {
  background-color: darkslateblue;
  color: white;
  margin: 50px;
  padding: 50px;
  height: 100%;
}
